* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    to right top,
    #e1e9bb,
    #aae4c3,
    #76d9db,
    #6cc6f1,
    #9aacee
  );
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 84vh;
  width: 26vw;
  padding: 1.8rem 2.3rem;
  border-radius: 5px;
  box-shadow: rgba(39, 39, 197, 0.2) 0px 7px 29px 0px;
}
.heading {
  text-align: center;
  color: #35a8aa;
}
.submitBtn {
  margin-top: 1rem;
  border: none;
  background-color: #35a8aa;
  color:#fff;
  padding:0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
